@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.productSection {
  width: 100%;
  margin: 100px 0;
  font: montserrat;
}

.productWrapper {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}


.HeaderGray {
    color: #737373;
    /* font-weight: 300; */
    font-family: Montserrat;
font-weight: 400;
/* font-size: 20px; */
line-height: 30px;
letter-spacing: 0.2px;
text-align: center;

}

.HeaderMain {
    /* font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.2px; */
    font-family: Montserrat;
font-weight: 700;
font-size: 24px;
line-height: 32px;
letter-spacing: 0.1px;
text-align: center;
margin: 5px 0;

}

.productServices {
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.service {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    padding: 0 35px;
}

.serviceSVG {
    margin-bottom: 20px;    
}

.serviceTitle {
    margin: 14px;
    font-family: Montserrat;
font-weight: 700;
font-size: 24px;
line-height: 32px;
letter-spacing: 0.1px;
text-align: center;

}
.serviceDes {
    color: #737373;
}

@media (max-width: 768px) {
    .productServices {
        flex-direction: column;
    }

    .service {
        width: 100%;
        padding: 0;
    }
}
