@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}
.featuredPosts {
    width: 100%;
    margin: 50px auto;
    font: montserrat;
}

.featuredPostsWrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.headerGray {
    color: #23A6F0;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.2px;
    text-align: center;
}

.headerMain {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 40px;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: center;
}

.Posts {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.Post {
    width: 30%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);    

}

.PostImage {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.PostImage img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.PostArticle {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.PostArticle nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.PostArticle nav ul li {
    margin-right: 20px; /* space between links */
    font-size: 13px;
}

.PostArticle nav ul li a {
    text-decoration: none;
    color: #737373;
    font-family: sans-serif;
}

.PostArticle nav ul li a.highlight {
    color: #8EC2F2;
}

.PostArticleMain {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin: 0;
    margin-top: 15px;
}

.PostArticleMain:hover {
    color: #8EC2F2;
}

.PostArticleSub {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    width: 87%;
    color: #737373;
}

.PostArticleDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.PostArticleDetails p{
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.PostArticleDetailsIcon {
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.PostArticleNext {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    display: flex;
    justify-content: flex-start;
    align-items: end;
    color: #737373;
    margin: 10px 0;
}